<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> <%= title %>  </title>
    <link href="https://fonts.googleapis.com/css2?family=Days+One&family=Lobster&family=Montserrat:wght@400;500&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../stylesheets/style.css"> 
</head>
<body>
    <main>
        <div class="nav-bar">
            <nav>
                <h1 class="logo">Leica</h1>
                <ul>
                    <li class="li-nav-bar"><a href="">News</a></li>
                    <li class="li-nav-bar"><a href="">Specs</a></li>
                    <li class="order"><a href="">Order</a></li>
                </ul>
            </nav>
        </div>
        <section class="home">
            <div class="muestra">
                <h1>Leica M6</h1>
                <img src="../images/camera 1.png" alt="">
                <div class="info">
                    <h2>Small but Powerful.</h2>
                    <h3>The New Leica M6 offers 4k at 60 frames per second. Raw video and Frame Sensor</h3>
                </div>
            </div>
        </section>
        <div class="features-container">
            <section class="features">
                <h1 class="cards-title">Features</h1>
                <div class="cards"> 
                    <div class="card">
                        <img src="../images/card1 1.png" alt="">
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ab impedit sequi </h4>
                    </div>
                    <div class="card">
                        <img src="../images/card2 1.png" alt="">
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ab impedit sequi </h4>
                    </div>
                    <div class="card">
                        <img src="../images/card3 1.png" alt="">
                        <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ab impedit sequi </h4>
                    </div>
                </div>
            </section>
            <img src="../images/wave.png" alt="" class="wave">
        </div>
        <section class="soon">
            <h2>Coming Soon</h2>
            <img src="../images/camera-soon-v2 1.png" alt="">
            <img class="circle" src="../public/images/circle.png" alt="">
        </section>
        <footer>
            <h2>Leica 2020</h2>
            <ul class="icons">
                <li><a href=""><img src="../images/instagram-logo.png" alt=""></a></li>
                <li><a href=""><img src="../images/twitter-logo.png" alt=""></a></li>
                <li><a href=""><img src="../images/yt-logo.png" alt=""></a></li>
            </ul>
        </footer>
    </main>
</body>
</html>