footer {
  background: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;
  min-height: 10vh;

  h2 {
    font-family: "Lobster", sans-serif;
    font-weight: lighter;
    flex: 2;
  }
  ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    list-style: none;
    flex: 1;
  }
  ul,
  li {
    background: black;
  }
}
